ion-tab-bar {
  --background: #ffffff;
  --border: 1px solid #e0e0e0;
  padding-bottom: env(safe-area-inset-bottom);
}

ion-tab-button {
  --color: #6c757d;
  --color-selected: #0b5ed7;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

ion-tab-button ion-icon {
  font-size: 20px;
}

ion-tab-button ion-label {
  font-size: 10px;
  margin-top: 2px;
}
