tabs page.html<ion-tabs> 
  <ion-tab-bar slot="bottom">

    <!-- Tab 1: Beranda Klinik -->
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <!-- Tab 2: Registrasi Pasien -->
    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>Registrasi</ion-label>
    </ion-tab-button>

    <!-- Tab 3: Daftar Pasien -->
    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Pasien</ion-label>
    </ion-tab-button>

    <!-- Tab 4: Jadwal Pemeriksaan -->
    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Jadwal</ion-label>
    </ion-tab-button>

    <!-- Tab 5: Jadwal Kontrol -->
    <ion-tab-button tab="tab5" href="/tabs/tab5">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Kontrol</ion-label>
    </ion-tab-button>

    <!-- Tab 6: Apotekku -->
    <ion-tab-button tab="tab6" href="/tabs/tab6">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>Apotek</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
